.Categorie h2 {
  color: var(--brown);
  font-size: 24px;
  font-family: "Poppins";
  margin-bottom: 10px;
  margin-right: 20px;
}

.Categorie h4 {
  color: var(--yellow);
  font-size: 21px;
  font-family: "Poppins";
}

.titre {
  display: flex;
  flex-direction: row;
}

.flow {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.flow::-webkit-scrollbar {
  display: none;
}

.Categorie {
  padding-left: 20px;
  padding-bottom: 20px;
}
