.Categorie h2 {
  font-weight: bold;
  color: #661308;
  font-size: 24px;
  font-family: "Poppins";
  margin-bottom: 10px;
}

.flow {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.Categorie {
  padding-left: 20px;
  padding-bottom: 20px;
}
