.carte img {
  width: 269px;
  height: 167.12px;
  border-radius: 15px;
}
.carte {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.carte p {
  color: #661308;
  font-size: 15px;
  font-weight: mixed;
  margin-top: 5px;
  font-family: "Poppins";
}
