.carte {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.carte img {
  width: 491px;
  height: 306px;
  border-radius: 15px;
}

.carte > p {
  color: #661308;
  font-size: 18px;
  margin-top: 5px;
  font-family: "Poppins";
}
.carte p span {
  font-weight: bold;
}

.carte h3 {
  color: #661308;
  font-size: 21px;
  margin-top: 5px;
  font-family: "Poppins";
  font-weight: bold;
}
