
@import '../utils/variables.css';
@import '../utils/fonts.css';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brown);
  height: 75px;
  position: fixed;
  width: 100%;
}
.logo {
  max-height: 100%;
}

.logo img {
  height: 50px;
}
.menuHeader {
    display: none;
}
.listMenuHeader {
  list-style-type: none;
}

.listMenuHeader li {
  margin-right: 25px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--yellow);
}
.login {
  display: flex;
  align-items: center;
}
.loginName {
  margin-left: 10px;
  color: var(--yellow);
}
.burger
{
    padding-right: 25px;
}